<div id='gameOver'>
  <div id='gameOverContent'>
    <h2>Winner!</h2>
    <h2>{{ game.restaurants.currentListNamesScores[0].name }}</h2>
    <div class='row'>
      <div>{{ game.restaurants.currentListNamesScores[0].location.address.toString() }}<br>
        {{ game.restaurants.currentListNamesScores[0].location.city }}</div>
      <div>
        <img src='{{ game.restaurants.currentListNamesScores[0].rating_img_url_large }}'></img>
        <div>{{ game.restaurants.currentListNamesScores[0].review_count }} reviews</div>
      </div>
    </div>
    {{ game.restaurants.currentListNamesScores[0].snippet_text }}
    <img src='{{ game.restaurants.currentListNamesScores[0].image_url }}'></img>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
      <div id='choicesLeft'>Remaining picks: {{ game.remainingPicks }}</div>
      <div id='counter'>10</div>
      <div class='row'>
        <div id='progressBarContainer'>{{ game.progress }}</div>
      </div>
    </div>
</nav>
<nav class="navbar">
    <div class="row">
      <div id='counter'>10</div>
      <div id='choicesLeft'>Choices left:</div>
      <div class='row'>
        <div id='progressBarContainer'>{{ game.progress }}</div>
      </div>
    </div>
</nav>
<div class='container-fluid'></div>

<div class='row'>
  <div class='col-xs-2'></div>
  <div class='col-xs-4' id='top3'>
    <h3>Current Top 5</h3>
    <p>{{ game.restaurants.currentListNamesScores[0].name }}</p>
    <p>{{ game.restaurants.currentListNamesScores[1].name }}</p>
    <p>{{ game.restaurants.currentListNamesScores[2].name }}</p>
    <p>{{ game.restaurants.currentListNamesScores[3].name }}</p>
    <p>{{ game.restaurants.currentListNamesScores[4].name }}</p>
  </div>
  <div class='col-xs-4' id='currentWinner'>
    <h6>Current Leader</h6>
    <h3>{{ game.restaurants.currentListNamesScores[0].name }}</h3>
    <p><div class='col-xs-3'>{{ game.restaurants.currentListNamesScores[0].location.address.toString() }}<br>
        {{ game.restaurants.currentListNamesScores[0].location.city }}</p></div>
      <div class='col-xs-3'>
        <img src='{{ game.left.rating_img_url_large }}'></img>
        <div>{{ game.restaurants.currentListNamesScores[0].review_count }} reviews</div>
      </div>
  </div>
</div>

  <div id='separator'>
    Choose One:
  </div>


<div class='row'>
  
  <div class='col-xs-1'></div>

  <div id='left' class='col-xs-5' ng-click=game.chooseLeft()>
    <h2>{{ game.left.name }}</h2>
    <div class='row'>
      <div class='col-xs-3'>{{ game.left.location.address.toString() }}<br>
        {{ game.left.location.city }}</div>
      <div class='col-xs-3'>
        <img src='{{ game.left.rating_img_url_large }}'></img>
        <div>{{ game.left.review_count }} reviews</div>
      </div>
    </div>
    {{ game.left.snippet_text }}
    <img src='{{ game.left.image_url }}'></img>
    {{ game.left.eloRating }}
  </div>
  <div id='right' class='col-xs-5' ng-click=game.chooseRight()>
    <h2>{{ game.right.name }}</h2>
    <div class='row'>
      <div class='col-xs-3'>{{ game.right.location.address.toString() }}<br>
        {{ game.right.location.city }}</div>
      <div class='col-xs-3'>
        <img src='{{ game.right.rating_img_url_large }}'></img>
        <div>{{ game.right.review_count }} reviews</div>
      </div>
    </div>
    {{ game.right.snippet_text }}
    <img src='{{ game.right.image_url }}'></img>
    {{ game.right.eloRating }}
  </div>
</div>
<div class='row'>
  <div id='leaderboard' class='col-md-10' ng-repeat='restaurant in game.restaurants.currentListNamesScores'>{{ restaurant }}</div>
</div>
